/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: var(--font-sans);
  color: var(--text);
  background-color: var(--background);
  line-height: 1.6;
  scroll-behavior: smooth;
}

body.dark {
  background-color: var(--background-dark);
  color: var(--text-light);
}


a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* Headings */
h1, h2, h3, h4 {
  font-family: var(--font-serif);
  font-weight: 600;
}

/* Container */
.container {
  max-width: 1200px;
  padding: 0 1.5rem;
  margin: 0 auto;
}
