.product-detail-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}

.product-img {
  width: 100%;
  border-radius: 10px;
}

.product-info h1 {
  font-size: 2rem;
}

.product-info .price {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}
